{% extends 'layout.html' %}
{%block title%}
Contact Page
{%endblock%}
{%block style%}
<link rel="stylesheet" href="/static/css/style.css">
<style>
    #center{
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
{%endblock%}
{%block content%}<br>
<div class="taskmaster">
    <div class="container">
        
        <h1 class="display-4 mb-4">Taskmaster Household Services</h1>
        <p class="lead mb-5">Professional Cleaning, Plumbing, and AC Repair Services</p>
   
    </div>
</div><br><br><div id='center'>
<div class="col-md-4">
    <div class="service-card">
        <h3 class=" mb-4">Contact Us</h1>
       
        <p>Email: aqdaskhan666@gmail.com</p>
        
    </div>
</div>
</div>
{%endblock%}