{%extends 'layout2.html'%}
{%block title%}
Costumer dashboard 
{%endblock%}
{%block style%}
<style>
h1{
   margin: 20px;
   margin-bottom: 50px;
}
</style>
{%endblock%}
{%block content%}
<h1 style="text-align: center">Costumer dashboard</h1>

<div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
  <div class="card-body">
    <img src="/static/images/ac repair2.jpeg">
    <h6 class="card-subtitle mb-2 text-muted"></h6>
    
    <a href="#" class="card-link">Card link</a>
   
  </div>
</div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
             
              <img src="/static/images/cleaning.jpeg">
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
             <img src="/static/images/plumber.jpeg">
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
      </div>
    </div>
  </div>

  
      
{%endblock%}
